/* apply a natural box layout model to all elements, but allowing components to change */
html {
    height: 100%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

@font-face {
    font-family: "Another America";
    src: url('../fonts/anotheramerica.ttf');
}

body {
    background-color: #110c19;
    color: #FFF;
    font-family: Montserrat;
    height: 100%;
    position: relative;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#container, #containerContact, #containerAbout, #containerProducts, #containerMayhem {
    width: 80%; 
    margin: 0 auto;
}
.flex {
    display: flex;
}

p {
    font-size: 16px;
    line-height: 18px;
}


/* Navigation Bar */ 

.logo {
    padding: 5px 0 0 10px;
    float: left;
}

.active {
    color: #d33d84;
}
.toggle {
    display: none;
}
.item {
    display: block;
}
nav * {
    box-sizing: border-box;
    transition: all .35s ease;
    height: 70px;
}
nav ul {
    justify-content: flex-end;
}

nav li {
    display: inline-block;
    list-style: outside none none;
    margin: .5em 1em;
    padding: 0;
    
}

nav a {
    padding: .5em .8em;
    color: #FFF;
    position: relative;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
}

.nav a::before,
.nav a::after {
    content: '';
    height: 14px;
    width: 14px;
    position: absolute;
    transition: all .35s ease;
    opacity: 0;
}

.nav a::before {
    content: '';
    right: 0;
    top: 0;
    border-top: 3px solid #d33d84;
    border-right: 3px solid #970E4F;
    transform: translate(-100%, 50%);
}

.nav a:after {
    content: '';
    left: 0;
    bottom: 0;
    border-bottom: 3px solid #970E4F;
    border-left: 3px solid #d33d84;
    transform: translate(100%, -50%)
}

.nav a:hover:before,
.nav a:hover:after{
    transform: translate(0,0);
    opacity: 1;
}

.nav a:hover {
    color: #d33d84;
}
.right {
    float: right;
    margin: 18px 10px;
}

h1 {
    font-family: "Another America";
}

/* Tablet Nav */
@media all and (max-width: 768px) {
    nav a {
        font-size: 18px;
    }
    nav li {
        padding-top: 10px;
    }
    .right {
        padding-top: 18px; 
    }
}

/* Mobile Nav */
@media all and (max-width: 420px) {
    .toggle {
        display: block;
        float: left;
        margin: 18px 10px;
    }
    .item {
        display: none;
    }
    .item.active-nav {
        display: block;
    }
    .toggle, .right {
        font-size: 22px;
    }
    .logo {
        padding: 5px;
        float: none;
    }
   
    .right {
        padding-top: 10px; 
    }
    nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;  
        z-index: 1;
        background-color: #110c19;
        opacity: 0.95;
        height: 30px;
        text-align: center;

    } 
    nav a {
        font-size: 16px;
    }    
    nav ul {
        flex-wrap: wrap;
        width: 100%;
        text-align: left;
    }
    
    nav li {
        flex-basis: 100%;
        background-color: #110c19;
        opacity: 0.95;
        margin: 0;
        padding-left: 10px;
    }
}

/* Footer */

footer {
    padding: 0 20px 0 20px;
    justify-content: space-between;
    flex-shrink: 0;
}

footer ul { 
    margin: 0;
    padding: 0;  
}
footer li {
    float: left;
}
footer li a {
    display: block;
    color: #FFF;
    text-align: center;
    padding: 10px 10px 10px 0;
}
footer .center {
    text-align: center;
    font-size: 12px;
    align-self: flex-end;
}
.block {
    display: inline;    
}

/* Mobile Footer */
@media all and (max-width: 420px) {
    footer {
        flex-direction: column;
        justify-content: center;
    }
    footer li a {
       font-size: 24px;
       padding: 22px;
    }
    footer p {
        padding-top: 22px;
    }
    .center {
        order: 3;
        padding-top: 10px;
        margin: auto;
    }
}

/* Homepage */

#container {
    padding: 10% 20px;
    flex: 1 0 auto;
}
#container main {
    justify-content: space-evenly;
}
h1 {
    font-size: 140px;
    margin-bottom: 30px;
}
#container img {
    transform: rotate(-10deg);
    padding: 30px;
    width: 443px;
    height: 312px;
}
.text {
    display: inline-block;
}
button {
    padding: 20px;
    margin: 20px 40px 20px 33%;
    background-color: #d33d84;
    color: #FFF;
    border-radius: 20px;
    font-size: 25px; 
    border: none;     
}
button:hover {
    background: #970E4F;
}

@media all and (max-width: 600px) {
    #container {
        padding: 20px;
        margin-top: 90px;
    }
    h1 {
        font-size: 50px;
    }
    #container img {
        width: 200px;
        height: 150px;
    }
    button {
        padding: 7px 15px;
        font-size: 18px;
        border-radius: 10px;
    }
    .text {
        display: block;
    }
}

/* About */

#containerAbout {
    padding: 40px;
    flex: 1 0 auto;
}
#containerAbout main{
    justify-content: space-around;
}
#containerAbout img {
    width: 35%;
}
.description {
    width: 40%;    
}
#containerAbout h1, #containerAbout p {
    padding: 20px 10px;
    text-align: justify;
}
#containerAbout h1 {
    font-size: 110px;
}

/* Contact */

#containerContact {
    padding: 20px 10px; 
    flex: 1 0 auto;
}
#map {
    width: 475px;
    height: 375px;
}

#containerContact h3{
    font-size: 20px;
    padding: 20px 0;
    font-weight: 600;
} 

#containerContact p {
    font-size: 18px;
    padding: 10px 0;
}
.mapAddress {
justify-content: space-around;
}

#containerContact .right {
    width: 350px;
    height: 350px;
    padding-top: 70px;
    
}
.stores {
    display: inline-block;
    margin: 25px 0 25px 75px;
}

#containerContact .smaller {
    font-size: 16px;
    line-height: 19px;
    padding: 5px 0;
}
#containerContact .down {
    padding-top: 20px;
}

.bold {
    font-weight: 600;
}


/* Products */

.back {
    display: inline-block;
    width: 250px;
    height: 250px;
    margin: 10px;
    border: 10px solid #eae7ef;
    background-color: #eae7ef;
    padding: 5px;
}
#containerProducts {
    padding: 40px 0;
    flex: 1 0 auto;
}
#containerProducts img {
    width: 70%;
    display: block;
    margin: auto;
}
#containerProducts p {
    padding: 3px;
    color: #110c19;
    text-align: center;
    font-weight: 600;
}
#containerProducts .pink {
    color: #d33d84;
}
#containerProducts i {
    color: #E77236; 
}
#containerProducts main {
    flex-wrap: wrap;
    justify-content: center;
    
}
.bathBombs { 
    font-size: 14px;
    padding: 5px;
    float: right;
    margin: 30px 20px;
    text-decoration: underline;
    color: #FFF;
}


/* Project Mayhem */

.mayhem {
    background-image: url("../images/mayhemcopy.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000;
    background-position: right;
}
#containerMayhem {
    padding: 20px 0;
}
#containerMayhem h1 {
    text-align: center;
    padding: 40px;
    font-size: 110px;
}
h4 {
    text-transform: uppercase;
    font-size: 18px;
    padding: 5px 5px 10px 7px;
    font-weight: 600;
}
.column {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    padding: 30px;
    margin: 50px;
}
#containerMayhem p {
    padding: 7px;   
}
.burn {
    padding: 20px;
    text-align: right;
    font-weight: 600;
}

audio {
    display: block;
}
.flexAudio {
    width: 100%;
    justify-content: space-between;
}

